﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorldOfStereotypes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="~/Libs/jqvmap/dist/jqvmap.css" rel="stylesheet" />    
    <link href="~/Libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="~/content/style.css" />
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><strong style="font-size: 1.25em">World Of Stereotypes</strong></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" style="margin-right: 10px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="showTOPStereotypes()">TOP STEREOTYPES</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary my-2 my-sm-0" onclick="showTOPUsers()">TOP USERS</button>
                </li>
                
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-inline my-2 my-lg-0 logregSection">

                    <a>Hello, @User.Identity.Name!</a>
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="showProfileSection()">Profile</button>
                    <button class="btn btn-outline-primary my-2 my-sm-0" onclick="showMyStereotypesSection()">My Stereotypes</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" onclick="location.href='@Url.Action("LogOut", "Home")'">Log out</button>
                </div>
            }
            else
            {
                <div class="form-inline my-2 my-lg-0 logregSection">

                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="showLoginContainer()">Login</button>
                    <button class="btn btn-outline-primary my-2 my-sm-0" onclick="showRegisterSection()">Register</button>
                </div>
            }
            
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="~/Libs/jquery/dist/jquery.js"></script>
        <script src="~/Libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/Libs/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/Libs/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/Scripts/site.js" ></script>
    
    

    
</body>
</html>
