*{
    margin: 0;
    padding: 0;
}
.row{
    margin-bottom: 10px;
}


    .stereotypeCard{
  
        display: inline-block;  
        margin: 0;
        margin-bottom: 30px;   
    }

    .navbar {
        z-index: 10;
    }

.stereotypeIcon img{
    width: 120%;
    height: 60px;
    border-radius: 10px;    
}
.text{
    text-align: left;
    overflow: auto;
    font-family: Inconsolata;
}
.tablinks{
    font-family: sans-serif;
    color: darkslateblue;
    font-size: 20px;
    padding:15px;
    text-align: center;
    background-color: inherit;
    border-style: solid;
    border-color: darkslateblue;
    margin-bottom: 35px;
    transition: 0.3s;
    cursor: pointer;
}



@font-face {
    font-family: OpenSans;
    src: url('../fonts/open_sans/opensans-regular.ttf');
    font-weight: 400;
}



a {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
}

.mapContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    padding: 1% 0;
    z-index: -1;
}

/*MAP*/

#vmap {
    height: 100%;
}


.jqvmap-zoomin, .jqvmap-zoomout {
    width: 20px;
    height: 20px;
    line-height: 15px;
    top: unset;
}

.jqvmap-zoomin {
        transform: translate(0,-75px);
        webkit-transform: translate(0,-75px);
}

.jqvmap-zoomout {
    transform: translate(0,-35px);
        webkit-transform: translate(0,-35px);
}

.singleCountrySection , .addStereotypeSection, .myStereotypesSection, .editStereotypeSection, .profileSection {
    position: absolute;
    background: white;
    z-index: 1;
    border-radius: 5px;
    height: 75%;
    top: 12.5%;
    width: 75%;
    left: 12.5%;
    overflow-y: auto;
}

.editStereotypeSection img{
    max-width: 200px;
    max-height: 200px;
    
}

.media img {
    width: 30%;
    max-width: 100px;
}

.loginSection, .registerSection {
    position: absolute;
    background: white;
   
    border-radius: 5px;
    height: 50%;
    top: 25%;
    width: 40%;
    left: 30%;

    overflow-y: auto;
}

.exitButton {
    position: absolute;
    right: 5px;
    top: 7.5px;
        background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
        color: #dc3545;
}

.stereotypesSection {
    width: 100%;
    height: 100%;
   
    padding: 20px 10px;
}

.singleCountrySection .row {
    margin-bottom: 0;
    margin-right: 0;
}

.stereotypeCard .card-header {
    background-color: transparent;
}

.stereotypeScore {
    font-size: 24px;
    position: absolute;
    color: white;
    right: 10px;
    padding-top: 6px;
    margin-bottom: 0;
    font-weight: bold; 
    -webkit-transform: translate(0,0)
}

.card-header {
    padding-right: 40px;
}

small {
    font-size: 12px;
    color: lightgrey;
    line-height: 14px;
}

.truth .stereotypeScore, .lie .stereotypeScore {
    color: white;
}

.truth small, .lie small {
    color: white;
}

.neutral small, .neutral .stereotypeScore {
    color: #454545
}


.like-dislikeList {
    margin-bottom: 0;
    display: flex;
}

.like-dislikeList .list-inline-item {
    padding-left: 10px;
    cursor: pointer;
    color: white;
}

.like {
    border: 2px solid #28a745;
}

.dislike  {
    border: 2px solid #dc3545;
}



.like  {
    background-color: transparent;
   
    box-sizing: border-box;
}

.like  i {
    color:#28a745;
}

.dislike {
    background-color: transparent;
   
    box-sizing: border-box;
}

.dislike  i {
    color:#dc3545;
}

.like.selected {
        color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.like.selected i {
    color: white;
}

.dislike.selected {
        color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.dislike.selected i {
    color: white;
}

.truth.stereotypeCard .card-header {
    color: white;
    background-color: #28a745;
}

.lie.stereotypeCard .stereotypeScore {
    color: white;
}

.lie.stereotypeCard .card-header {
    color: white;
    background-color: #dc3545;
}

.lie.stereotypeCard .stereotypeScore {
    color: white;
}

.neutral.stereotypeCard .card-header {
    color: #454545;
    background-color: #e4e4e4;
}


.logregSection button{
    margin-left: 10px;
}

.addButton {
        position: absolute;
    top: 8.5px;
    right: 40px;
    border: none;
    background: none;
    cursor: pointer;
    color: #28a745;
}

.media img {
    max-width: 100px;
}

.userScore p{
    font-size: 32px;
    font-weight: bold;
}



@media (max-width: 992px) {
    .loginSection, .registerSection {
        width: 75%;
        left: 12.5%;
        height: 75%;
        top: 12.5%;
    }

    .singleCountrySection, .addStereotypeSection, .myStereotypesSection, .editStereotypeSection, .profileSection{
        width:90%;
        left: 5%;
    }
}