﻿@model WorldOfStereotypes.Models.Stereotype

@{ 
    WorldOfStereotypes.Models.StereotypesEntities _db = new WorldOfStereotypes.Models.StereotypesEntities();
    string a = ViewBag.CountryCode;
    WorldOfStereotypes.Models.Country c = _db.Country.FirstOrDefault(x => x.ID == a);
}

<h2 class="card-header">Add stereotype about @c.Name</h2>
<button class="exitButton" onclick="closeAddStereotyeSection('@c.ID')"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>

<div class="card-body ">
    <div class="row">
@using (Html.BeginForm("AddStereotype", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12" }))
{
        
            <div class="row" style="padding: 0 15px;">
                <input type="text" name="CountryID" id="CountryID" value="@c.ID" hidden />
                <div class="form-group col-12">
                    @Html.ValidationMessage("LoginError")
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-12">Image</label> 
                        <input type="file" name="upload" style="max-width: 100%; overflow: hidden" class="col-12 form-control" />
                        <br />
                    </div>
                </div> 
                <div class="form-group col-12">
                    <div class="row">
                        @Html.ValidationMessageFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-sm-12 ", placeholder = "Title" })
                    </div>

                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.ValidationMessageFor(x => x.Description)
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control col-sm-12  ", placeholder = "Description", rows = "10" })
                    </div>

                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Add"
                                   >
                        </div>
                    </div>
                </div>
            </div>
        
}
    </div>
</div>
