﻿@model WorldOfStereotypes.Models.Stereotype

<h2 class="card-header">Edit stereotype - @Model.Name</h2>
<button class="exitButton" onclick="closeEditStereotypesSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>

<div class="card-body">
    <div class="row">
        @using (Html.BeginForm("EditStereotype", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12" }))
        {
            <input type="text" name="ID" id="ID" value="@Model.ID" hidden />
            <input type="text" name="CountryID" id="CountryID" value="@Model.CountryID" hidden />
            <div class="row" style="padding: 0 15px;">
                
                <div class="form-group col-12">
                    @Html.ValidationMessage("LoginError")
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <img src="@Model.Image" />
                        <label class="col-12">Image</label>
                        <input type="file" name="upload" style="max-width: 100%; overflow: hidden" class="col-12 form-control" />
                        <br />
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.ValidationMessageFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-sm-12 ", placeholder = "Title" })
                    </div>

                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.ValidationMessageFor(x => x.Description)
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control col-sm-12  ", placeholder = "Description", rows = "10" })
                    </div>

                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Edit">
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>