﻿@model WorldOfStereotypes.Models.User

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 mapContainer">
        <div id="vmap" onclick="closeModals()"></div>
    </div>
</div>

<div class="singleCountrySection card" style="display: none;">

</div>

<div class="addStereotypeSection card" style="display: none;">

</div>

<div class="myStereotypesSection card" style="display: none;">

</div>

<div class="editStereotypeSection card" style="display: none;">
</div>

<div class="profileSection card" style="display: none;">

</div>

<div class="TOPStereotypesSetion card" style="display: none">

</div>

<div class="TOPUsersSection card" style="display: none">

</div>

<div class="loginSection card" style="display: none">
    <button class="exitButton" onclick="closeLoginSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>
    <h2 class="card-header">Login</h2>
    <div class="card-body">
        <div class="row">
            <form class="col-12">
                <div class="row" style="padding: 0 15px;">
                    <div class="form-group col-12">
                        @Html.ValidationMessage("LoginError")
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Login)
                            @Html.TextBoxFor(x => x.Login, new { @class = "form-control col-sm-12 ", placeholder = "Your login" })
                        </div>
                        
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control col-sm-12  ", placeholder = "Your password" })
                        </div>
                       
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Login"
                                       onclick="logUser(Login.value, Password.value); return false;">
                            </div>
                        </div>
                    </div>
               </div>
            </form>
        </div>
    </div>
</div>

<div class="registerSection card" style="display: none">
    <button class="exitButton" onclick="closeRegisterSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>
    <h2 class="card-header">Register a new user</h2>
    <div class="card-body">
        <div class="row">
            <form class="col-12">
                <div class="row" style="padding: 0 15px;">
                    <div class="form-group col-12">
                        @Html.ValidationMessage("LoginError")
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-sm-12  ", placeholder = "Your Name" })
                        </div>

                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-sm-12  ", placeholder = "Your Email" })
                        </div>

                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Login)
                            @Html.TextBoxFor(x => x.Login, new { @class = "form-control col-sm-12 ", placeholder = "Your Login" })
                        </div>

                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.ValidationMessageFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control col-sm-12  ", placeholder = "Your Password" })
                        </div>

                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Register"
                                       onclick="regUser(Name.value,Email.value,Login.value, Password.value); return false;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

