﻿@model WorldOfStereotypes.Models.User

<h2 class="card-header">Stereotypes by @Model.Login</h2>
<button class="exitButton" onclick="closeMyStereotypesSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>

<div class="card-body  ">
    <div class="row">
        <div class="col-12">
            <div class="text-center userScore">
                <p>Your total score: @Model.Rating</p>
                <hr />
            </div>
        </div>
        
        <div class="col-12">
            <div class="row">
                @foreach (WorldOfStereotypes.Models.Stereotype s in Model.Stereotype)
                {

                    if (Math.Abs(s.Rating) < 3)
                    {
                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard">
                            <div class="card">
                                <h4 class="card-header">@s.Name</h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">
                                        <li class="list-inline-item"><a class="btn btn-success" onclick="editStereotype('@s.ID')"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></li>
                                        <li class="list-inline-item"><a class="btn btn-danger" href="@Url.Action("DeleteStereotype","Home", new { id = s.ID } )"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <p class="stereotypeScore">@s.Rating</p>
                            </div>
                        </div>
                    }
                    else if (s.Rating >= 3)
                    {
                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard truth">
                            <div class="card">
                                <h4 class="card-header">@s.Name</h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">
                                        <li class="list-inline-item"><a class="btn btn-success" onclick="editStereotype('@s.ID')"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></li>
                                        <li class="list-inline-item"><a class="btn btn-danger" href="@Url.Action("DeleteStereotype","Home", new { id = s.ID } )"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <p class="stereotypeScore">@s.Rating</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard lie">
                            <div class="card">
                                <h4 class="card-header">@s.Name</h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">
                                        <li class="list-inline-item"><a class="btn btn-success" onclick="editStereotype('@s.ID')"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></li>
                                        <li class="list-inline-item"><a class="btn btn-danger" href="@Url.Action("DeleteStereotype","Home", new { id = s.ID } )"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <p class="stereotypeScore">@s.Rating</p>
                            </div>
                        </div>
                    }

                }
            </div>
            
        </div>
    </div>
</div>