﻿@model WorldOfStereotypes.Models.User

<h2 class="card-header">Information about me</h2>
<button class="exitButton" onclick="closeProfileSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>

<div class="card-body ">
    <div class="row">
        @using (Html.BeginForm("ProfileInfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12" }))
        {

            <div class="row" style="padding: 0 15px;">
                <input type="text" name="ID" id="ID" value="@Model.ID" hidden />
                <div class="form-group col-12">
                    @Html.ValidationMessage("LoginError")
                </div>
                
                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-sm-12">Name</label>
                        @Html.ValidationMessageFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-sm-12 ", placeholder = "Name" })
                    </div>

                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-sm-12">Email</label>
                        @Html.ValidationMessageFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-sm-12 ", placeholder = "Email" })
                    </div>

                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-sm-12">Login</label>
                        @Html.ValidationMessageFor(x => x.Login)
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control col-sm-12  ", placeholder = "Login", rows = "10", disabled="disabled" })
                    </div>

                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-sm-12">Change Password</label>
                        @Html.ValidationMessageFor(x => x.Login)
                        <input type="password" id="newPas" name="newPas" placeholder="New Password" class = "form-control col-sm-12  "/>
                       
                    </div>

                </div>


                <div class="form-group col-12">
                    <div class="row">
                        
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control col-sm-12 btn btn-success" value="Save Changes"
                                   onclick="changeProfile(Login.value,Name.value,Email.value,newPas.value); return false;">
                        
                    </div>
                </div>
            </div>

        }
    </div>
</div>
