﻿@model IEnumerable<WorldOfStereotypes.Models.Stereotype>

@{ 
    var _db = new WorldOfStereotypes.Models.StereotypesEntities();
    var allStereotypes = Model.OrderBy(x => x.Rating).Reverse();
    var truthStereotypes = Model.Where(x => x.Rating >= 3).OrderBy(x => x.Rating).Reverse();
    var lieStereotypes = Model.Where(x => x.Rating <= -3).OrderBy(x => x.Rating).Reverse();
}

<h2 class="card-header">TOP Stereotypes</h2>
<button class="exitButton" onclick="closeTOPStereotyesSection()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>


<div class="card-body">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">ALL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">TRUTH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">LIE</a>
        </li>

    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active show stereotypesSection all">
            <div class="row">
                @{ 
                    var position = 0;
                }
                @foreach (WorldOfStereotypes.Models.Stereotype s in allStereotypes)
                            {

                                var user = _db.User.FirstOrDefault(x => x.Login == User.Identity.Name);
                                var author = _db.User.FirstOrDefault(x => x.ID == s.UserID);
                                var country = _db.Country.FirstOrDefault(x => x.ID == s.CountryID);
                                position++;


                                if (Math.Abs(s.Rating) < 3)
                                {

                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard neutral">
                            <div class="card">
                                <h4 class="card-header"><strong>&#35; @position</strong><br /><br /><strong>@country.Name</strong><br />@s.Name <small>by @author.Login</small></h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">

                                        @if (user != null)
                        {
                            if (user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID) != null)
                            {
                                var mark = user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID);
                                if (mark.Mark1 > 0)
                                {

                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success selected" isSelected="true" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                        <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                        <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger selected" isSelected="true" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                        <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                        }

                                    </ul>
                                </div>
                                <p class="stereotypeScore" id="@(s.ID)Rating">@s.Rating</p>
                            </div>
                        </div>
                    }
                    else if (s.Rating >= 3)
                    {
                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard truth">
                            <div class="card">
                                <h4 class="card-header"><strong>&#35; @position</strong><br /><strong>@country.Name</strong><br />@s.Name <small>by @author.Login</small></h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">

                                        @if (user != null)
                {
                    if (user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID) != null)
                    {
                        var mark = user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID);
                        if (mark.Mark1 > 0)
                        {

                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success selected" isSelected="true" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger selected" isSelected="true" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                        }

                                    </ul>
                                </div>
                                <p class="stereotypeScore" id="@(s.ID)Rating">@s.Rating</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard lie">
                            <div class="card">
                                <h4 class="card-header"><strong>&#35; @position</strong><br /><strong>@country.Name</strong><br /> @s.Name<small>by @author.Login</small></h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">

                                        @if (user != null)
                {
                    if (user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID) != null)
                    {
                        var mark = user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID);
                        if (mark.Mark1 > 0)
                        {

                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success selected" isSelected="true" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger selected" isSelected="true" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                        }

                                    </ul>
                                </div>
                                <p class="stereotypeScore" id="@(s.ID)Rating">@s.Rating</p>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>
        <div id="menu1" class="tab-pane fade stereotypesSection true">
            <div class="row">
                @{ 
                    position = 0;
                }
                @foreach (WorldOfStereotypes.Models.Stereotype s in truthStereotypes)
                {

                    var user = _db.User.FirstOrDefault(x => x.Login == User.Identity.Name);
                    var author = _db.User.FirstOrDefault(x => x.ID == s.UserID);
                    var country = _db.Country.FirstOrDefault(x => x.ID == s.CountryID);
                    position++;



                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard truth">
                            <div class="card">
                                <h4 class="card-header"><strong>&#35; @position</strong><br /><strong>@country.Name</strong><br /> @s.Name<small>by @author.Login</small></h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">

                                        @if (user != null)
                                        {
                                            if (user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID) != null)
                                            {
                                                var mark = user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID);
                                                if (mark.Mark1 > 0)
                                                {

                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success selected" isSelected="true" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger selected" isSelected="true" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                        }

                                    </ul>
                                </div>
                                <p class="stereotypeScore" id="@(s.ID)Rating">@s.Rating</p>
                            </div>
                        </div>
                    

                }

            </div>

        </div>
        <div id="menu2" class="tab-pane fade stereotypesSection false">
            <div class="row">
                @{
                    position = 0;
                }
                @foreach (WorldOfStereotypes.Models.Stereotype s in lieStereotypes)
                {

                    var user = _db.User.FirstOrDefault(x => x.Login == User.Identity.Name);
                    var author = _db.User.FirstOrDefault(x => x.ID == s.UserID);
                    var country = _db.Country.FirstOrDefault(x => x.ID == s.CountryID);
                    position++;


                    if (s.Rating <= -3)
                    {

                        <div class="col-md-6 col-lg-4 col-12 stereotypeCard lie">
                            <div class="card">
                                <h4 class="card-header"><strong>&#35; @position</strong><br /><strong>@country.Name</strong><br />@s.Name <small>by @author.Login</small></h4>
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex mr-3" src="@s.Image">
                                        <div class="media-body">

                                            @s.Description
                                        </div>
                                    </div>
                                    <hr />
                                    <ul class="like-dislikeList list-inline justify-content-center">

                                        @if (user != null)
                                        {
                                            if (user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID) != null)
                                            {
                                                var mark = user.Mark.FirstOrDefault(x => x.StereotypeID == s.ID);
                                                if (mark.Mark1 > 0)
                                                {

                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success selected" isSelected="true" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item"><a id="@(mark.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(true,'@mark.ID',1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                    <li class="list-inline-item"><a id="@(mark.ID)Negative" class="dislike btn btn-danger selected" isSelected="true" onclick="setScore(true,'@mark.ID',-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,'@user.ID','@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Positive" class="like btn btn-success" isSelected="false" onclick="setScore(false,-1,1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a id="@(author.ID)and@(s.ID)Negative" class="dislike btn btn-danger" isSelected="false" onclick="setScore(false,-1,-1,-1,'@s.ID','@author.ID')"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></li>
                                        }

                                    </ul>
                                </div>
                                <p class="stereotypeScore" id="@(s.ID)Rating">@s.Rating</p>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
    </div>
</div>



