﻿@model IEnumerable<WorldOfStereotypes.Models.User>

<h2 class="card-header">TOP Users</h2>
<button class="exitButton" onclick="closeTOPUsers()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>

<div class="card-body">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
        }

    </table>
</div>

